@model M_Supplier

<section class="blog section-b-space gym-blog ratio3_2 slick-default-margin div_news">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title1  section-t-space">
                    <h4>@Model.contactName</h4>
                    <h2 class="title-inner1">Tư vấn</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="no-arrow" id="div_latest_consulting">

                </div>
            </div>
        </div>
    </div>
</section>
