

<section data-aos="zoom-in-down" data-aos-duration="1200" class="blog section-b-space gym-blog ratio3_2 py-5 div_news latest_news_zone" style="background-image: url('/img/bg-news.jpg'); background-size: cover; background-position: center center; display: block;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title1 pt-0 section-t-space">
                    <h4 style="text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;">KÊNH THƯƠNG MẠI GEMS</h4>
                    <h2 class="title-inner1" style="text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;">Tin tức - Sự kiện</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="swiper swiper_latest_news">
                    <div class="swiper-wrapper" id="div_latest_news">
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div>
            </div>
        </div>
    </div>
</section>