<!-- loader start -->
<!--<div class="loader_skeleton">-->
  @*  @await Html.PartialAsync("_P_LoaderTopBar")
    <section class="small-section pt-res-0 pt-0">
        <div class="container">
            <div class="row">
                <div class="col-xl-3">
                    <div class="sidenav marketplace-sidebar svg-icon-menu">
                        <nav>
                            <div>
                                <div class="sidebar-back text-start d-xl-none d-block">
                                    <i class="fa fa-angle-left pe-2"
                                       aria-hidden="true"></i> Quay lại
                                </div>
                            </div>
                            <ul class="sm pixelstrap sm-vertical">
                                <li><a href="#"><div class="ldr-img-icon"></div><div class="ldr-text"></div></a></li>
                                <li><a href="#"><div class="ldr-img-icon"></div><div class="ldr-text"></div></a></li>
                                <li><a href="#"><div class="ldr-img-icon"></div><div class="ldr-text"></div></a></li>
                                <li><a href="#"><div class="ldr-img-icon"></div><div class="ldr-text"></div></a></li>
                                <li><a href="#"><div class="ldr-img-icon"></div><div class="ldr-text"></div></a></li>
                                <li><a href="#"><div class="ldr-img-icon"></div><div class="ldr-text"></div></a></li>
                                <li><a href="#"><div class="ldr-img-icon"></div><div class="ldr-text"></div></a></li>
                                <li><a href="#"><div class="ldr-img-icon"></div><div class="ldr-text"></div></a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-9">
                    <section class="pt-0 small-slider">
                        <div class="home-slider">
                            <div class="home"></div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </section>*@
    @* <section class="service-w-bg tools-service pt-0">
            <div class="container">
                <div class="service p-0 ">
                    <div class="row margin-default">
                        <div class="col-xl-3 col-sm-6 service-block">
                            <div class="media">
                                <svg class="bg-white"></svg>
                                <div class="media-body">
                                    <h4></h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 service-block">
                            <div class="media">
                                <svg class="bg-white"></svg>
                                <div class="media-body">
                                    <h4></h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 service-block">
                            <div class="media">
                                <svg class="bg-white"></svg>
                                <div class="media-body">
                                    <h4></h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 service-block">
                            <div class="media">
                                <svg class="bg-white"></svg>
                                <div class="media-body">
                                    <h4></h4>
                                    <p></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>*@
<!--</div>-->
<!-- loader end -->