<section class="addtocart_count ratio_square">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="title-basic">
                    <h2 class="title font-fraunces"><i class="ti-bolt"></i> Sản phẩm xem gần đây</h2>
                </div>
            </div>
            <div class="col-12">
                <div class="product-5 product-m no-arrow" id="div_recently_product">

                </div>
            </div>
        </div>
    </div>
</section>