@{ var listProductDiscount = ViewBag.ProductDiscount;}

<script>
    const listProductDiscount = '@Html.Raw(listProductDiscount)';
</script>

<section class="addtocart_count ratio_square " style="background: #ffffff; padding-top: unset !important; background-image: url(https://img.freepik.com/free-vector/colorful-confetti-background-with-text-space_1017-32374.jpg?w=1380&t=st=1666243960~exp=1666244560~hmac=7b0d4fd19ec1eae6e206c2733ed569f3ea8e4a0059b53ce78b1253b5078150d7); background-repeat: no-repeat; background-position: center center; background-size: auto; background-attachment: scroll; " >
    <div class="container">
        <div class="row">
            <div class="col-12 div_product_sale">
                <div class="title4">
                    <p class=" fw-bold text_sale">Giảm Giá Sốc</p>
                    <h3 class="title-inner4 text-dark font-weight-bolder">Khuyến mãi dành cho bạn</h3>
                    <div class="line"><span></span></div>
                </div>
                <div class="div_discount_product_slide product-m no-arrow " id="div_discount_product_slide">

                </div>
            </div>
        </div>
    </div>
</section>
