@{
    var supplierInfo = ViewBag.SupplierInfo as M_Supplier;
}
<section class="section-b-space py-5 position-relative overflow-hidden bg_cls div_product_sale">
    <div class="animated-wheel d-md-block d-none">
        <img src="../assets/images/bicycle/wheel.png" class="img-fluid" alt="">
    </div>
    <div class="title1">
        <h4>Nhanh tay mua sắm, nhận quà to</h4>
        <h2 class="title-inner1" style="color:orangered">F<i class="fa fa-bolt title-gradient" aria-hidden="true"></i>ASH SALE</h2>

    </div>
    <div class="container-0">
        <div class="row">
            <div class="col-md-12">
                <div class="center-slider-bicycle slider_product_sale product-m" id="div_product_sale">

                   @*  <div>
                        <div class="cycle-box">
                            <div class="product-detail">
                                <a href="product-page(no-sidebar).html">
                                    <h4 class="sp-line-2 mb-0"><i class="fa fa-tags" aria-hidden="true"></i> Bicycle Scout 26TBicycle Scout 26TBicycle Scout 26TBicycle Scout 26TBicycle Scout 26TBicycle Scout 26TBicycle Scout 26T</h4>
                                </a>
                                <div class="rating">
                                    <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i> <i class="fa fa-star text-warning"></i>
                                </div>

                            </div>
                            <div class="img-wrapper">
                                <a href="product-page(no-sidebar).html">
                                    <img src="../assets/images/bicycle/1.png"
                                         class="img-fluid blur-up lazyload" alt="">
                                </a>
                                <div class="quick-view-part">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#quick-view"
                                       title="Quick View" tabindex="0"><i data-feather="search"></i></a>
                                </div>
                            </div>
                            <div class="bottom-detail mt-0">
                                <div>
                                    <smal>danh mục</smal>
                                    <h4>$500.00</h4>
                                </div>
                            </div>
                            <ul class="cart-detail">
                                <li>
                                    <small><i class="fa fa-user" aria-hidden="true"></i><i data-feather="shopping-cart"></i> add to cart</small>
                                </li>
                            </ul>
                        </div>
                    </div> *@

                </div>
            </div>
        </div>
    </div>
</section>