
@* <div id="list_popular_introduce" class="responsive_v2 something_about_us ">
    @* <div class="something_about_us_box_1 d-flex">
    <div class="col-6 something_about_us_box_img">
    <img src="~/img/Banner_HappyLand.jpg">
    <button class="card__action btn btn-danger">Xem thêm</button>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 wrap-pd-infor wrap-flex-align flex-column p-5">
    <div class="inf-content site-animation">
    <p>&nbsp;</p>
    <p style="margin-bottom:11px">
    <span style="color:#2ecc71">
    <strong><span style="font-size:13pt">HAPPY GREEN BY VIETNAM – SỐNG ĐÚNG TRỞ LẠI</span></strong>
    </span>
    </p>
    <p style="margin-bottom:11px">
    <span style="font-size:16px;">Đừng lo lắng nếu như áp lực của cuộc sống bận rộn ngày nay đôi khi khiến bạn quên mất giá trị của việc chăm sóc sức khỏe của chính mình và những người thân yêu. Bằng việc cung cấp những sản phẩm chăm sóc sức khỏe an toàn, những sản phẩm organic hướng đến con người và sức khỏe, Happy Green hân hạnh được phục vụ bạn bằng tất cả sự tận tâm.</span>
    </p>
    <p style="margin-bottom:11px">
    <span style="font-size:16px;">Ra đời vào tháng 9/2019, Happy Green By Vietnam mang sứ mệnh trao cho bạn một cuộc sống chất lượng và đúng nghĩa với cam kết cung cấp những sản phẩm chăm sóc sức khỏe, an toàn và cần thiết cho cuộc sống của bạn cùng những người thương yêu.</span>
    </p>
    <p style="margin-bottom:11px">
    <span style="font-size:16px;">Cùng Happy Green By Vietnam sống đúng trở lại!</span>
    </p>
    <p style="margin-bottom:11px">
    <span style="font-size:16px;">Đặt hàng ngay hôm nay tại website của chúng tôi hoặc liên hệ:</span>
    </p>
    <p style="margin-bottom:11px">
    <span style="font-size:16px;">☎️ 0909 449 144</span>
    </p>
    <p style="margin-bottom:11px"><span style="font-size:16px;">🌎 111 Nguyễn Phi Khanh, Phường. Tân Định, Quận 1</span></p>
    <p>&nbsp;</p>
    </div>
    </div>
    </div>
    <div class="something_about_us_box_2 d-flex">
    <div class="col-6 something_about_us_box_img">
    <img src="~/img/Banner_HappyLand.jpg">
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 wrap-pd-infor wrap-flex-align flex-column p-5">
    <div class="inf-content site-animation ">
    <p>&nbsp;</p><p style="margin-bottom:11px"><span style="color:#2ecc71"><strong><span style="font-size:13pt">HAPPY GREEN BY VIETNAM – SỐNG ĐÚNG TRỞ LẠI</span></strong></span></p><p style="margin-bottom:11px"><span style="font-size:16px;">Đừng lo lắng nếu như áp lực của cuộc sống bận rộn ngày nay đôi khi khiến bạn quên mất giá trị của việc chăm sóc sức khỏe của chính mình và những người thân yêu. Bằng việc cung cấp những sản phẩm chăm sóc sức khỏe an toàn, những sản phẩm organic hướng đến con người và sức khỏe, Happy Green hân hạnh được phục vụ bạn bằng tất cả sự tận tâm.</span></p><p style="margin-bottom:11px"><span style="font-size:16px;">Ra đời vào tháng 9/2019, Happy Green By Vietnam mang sứ mệnh trao cho bạn một cuộc sống chất lượng và đúng nghĩa với cam kết cung cấp những sản phẩm chăm sóc sức khỏe, an toàn và cần thiết cho cuộc sống của bạn cùng những người thương yêu.</span></p><p style="margin-bottom:11px"><span style="font-size:16px;">Cùng Happy Green By Vietnam sống đúng trở lại!</span></p><p style="margin-bottom:11px"><span style="font-size:16px;">Đặt hàng ngay hôm nay tại website của chúng tôi hoặc liên hệ:</span></p><p style="margin-bottom:11px"><span style="font-size:16px;">☎️ 0909 449 144</span></p><p style="margin-bottom:11px"><span style="font-size:16px;">🌎 111 Nguyễn Phi Khanh, Phường. Tân Định, Quận 1</span></p><p>&nbsp;</p>
    </div>
    </div>
    </div>
    <div class="something_about_us_box_3 d-flex">
    <div class="col-6 something_about_us_box_img">
    <img src="~/img/Banner_HappyLand.jpg">
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12 wrap-pd-infor wrap-flex-align flex-column p-5">
    <div class="inf-content site-animation">
    <p>&nbsp;</p><p style="margin-bottom:11px"><span style="color:#2ecc71"><strong><span style="font-size:13pt">HAPPY GREEN BY VIETNAM – SỐNG ĐÚNG TRỞ LẠI</span></strong></span></p><p style="margin-bottom:11px"><span style="font-size:16px;">Đừng lo lắng nếu như áp lực của cuộc sống bận rộn ngày nay đôi khi khiến bạn quên mất giá trị của việc chăm sóc sức khỏe của chính mình và những người thân yêu. Bằng việc cung cấp những sản phẩm chăm sóc sức khỏe an toàn, những sản phẩm organic hướng đến con người và sức khỏe, Happy Green hân hạnh được phục vụ bạn bằng tất cả sự tận tâm.</span></p><p style="margin-bottom:11px"><span style="font-size:16px;">Ra đời vào tháng 9/2019, Happy Green By Vietnam mang sứ mệnh trao cho bạn một cuộc sống chất lượng và đúng nghĩa với cam kết cung cấp những sản phẩm chăm sóc sức khỏe, an toàn và cần thiết cho cuộc sống của bạn cùng những người thương yêu.</span></p><p style="margin-bottom:11px"><span style="font-size:16px;">Cùng Happy Green By Vietnam sống đúng trở lại!</span></p><p style="margin-bottom:11px"><span style="font-size:16px;">Đặt hàng ngay hôm nay tại website của chúng tôi hoặc liên hệ:</span></p><p style="margin-bottom:11px"><span style="font-size:16px;">☎️ 0909 449 144</span></p><p style="margin-bottom:11px"><span style="font-size:16px;">🌎 111 Nguyễn Phi Khanh, Phường. Tân Định, Quận 1</span></p><p>&nbsp;</p>
    </div>
    </div>
    </div>*@
@*</div>*@
<section class="blog section-b-space gym-blog ratio3_2 py-5 div_news div_introduce">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title1 pt-0 section-t-space">
                    <h4 style="text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;">TÌM HIỂU VỀ CHÚNG TÔI</h4>
                    <h2 class="title-inner1" style="text-shadow: -1px -1px 0 #ffffff, 1px -1px 0 #ffffff, -1px 1px 0 #ffffff, 1px 1px 0 #ffffff;">GEMS GROUP</h2>
                </div>
            </div>
            <div class="col-md-12">
                <div class="swiper swiper_popular_introduce">
                    <div class="swiper-wrapper" id="list_popular_introduce">
                    </div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>

                </div>
            </div>
        </div>
    </div>
</section>