
<section class="p-0 overflow-cls center-object-banner section_div_we_service_wrapper">
    <div class="full-banner feature-banner spotlight" style="background: radial-gradient(#9fc6ff, transparent);">
        @* <img src="/assets/images/bicycle/trending-product.jpg" alt="GEMS" class="bg-img blur-up lazyload"> *@
        <div class="container">
            <div class="row pb-3">
                <div class="col">
                    <div class="title1">
                        <h4 class="pb-3">KIẾN TẠO NGUỒN SỐNG XANH</h4>
                        <h2 class="title-inner1 mb-3">“Vì một cuộc sống khoẻ – đẹp – giàu có, thịnh vượng bền vững cho toàn xã hội” </h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <ul class="feature-object">
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <h4>Giá cả cạnh tranh</h4>
                                        <p>GEMS có nhiều chương trình khuyến mãi khủng dành cho khách hàng</p>
                                    </div>
                                </div>
                                <img class="img-fluid" src="/img/we-service/1.jpg"
                                     alt="GEMS">
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <h4>Thương hiệu nổi bật</h4>
                                        <p>Được sự tin tưởng hợp tác từ các nhãn hàng nổi tiếng trong và ngoài nước</p>
                                    </div>
                                </div>
                                <img class="img-fluid" src="/img/we-service/2.jpg"
                                     alt="GEMS">
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <div class="media-body">
                                    <div>
                                        <h4>Mua sắm tiện lợi</h4>
                                        <p>Thanh toán online an toàn, nhanh chóng</p>
                                    </div>
                                </div>
                                <img class="img-fluid" src="/img/we-service/3.png"
                                     alt="GEMS">
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-4 col-sm-6 offset-lg-4">
                    <ul class="feature-object-right">
                        <li>
                            <div class="media">
                                <img class="img-fluid" src="/img/we-service/4.png"
                                     alt="GEMS">
                                <div class="media-body">
                                    <div>
                                        <h4>Chất lượng chính hãng</h4>
                                        <p>GEMS đảm bảo cung cấp cho người tiêu dùng những sản phẩm ưng ý, đáng tin cậy</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <img class="img-fluid" src="/img/we-service/5.jpg"
                                     alt="GEMS">
                                <div class="media-body">
                                    <div>
                                        <h4>Bảo mật thông tin</h4>
                                        <p>Mọi thông tin về người bán và người mua đều được bảo mật tuyệt đối</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="media">
                                <img class="img-fluid" src="/img/we-service/6.png"
                                     alt="GEMS">
                                <div class="media-body">
                                    <div>
                                        <h4>Kết nối giao thương</h4>
                                        <p>GEMS là trang bán hàng cho phép người dùng lựa chọn đại lý ở khu vực gần nhất</p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="center-img d-none d-lg-flex" style="bottom:0px">
            <img style="width: 80%;" src="/img/bg-we-service.jpg" alt="GEMS" class="img-fluid mx-auto">
        </div>
    </div>
</section>