

<section class="work_one py-1">
    <div class="container">
        <div class="block-title text-center">
            @* <p>@Model.name</p> *@
            <h3>THÚC ĐẨY KINH TẾ</h3>
            <div class="leaf py-0">
                <img src="~/img/leaf.png" alt="">
            </div>
        </div>
        <div class="row">
            <div class="col-6 col-lg-3 col-md-6">
                <div class="work_one_single">
                    <div class="work_one_icon_box" style="border: 10px solid #0d6efd">
                        <a class="icon_fruit"><img src="~/img/icon/teamwork.png" alt="teamwork" /></a>
                        <div class="work_one_count_box" style=" background: #0d6efd">
                            <h5>01</h5>
                        </div>
                    </div>
                    <div class="work_one_content">
                        <h4 class="my-2 text-primary font-weight-bold">GIÁ TRỊ VĂN HÓA</h4>
                        <p style="line-height:normal;text-align: justify;">
                            Lan tỏa lợi ích của nước sạch đến cộng đồng là trách nhiệm quan trọng của mọi người, giúp cải thiện sức khỏe và chất lượng cuộc sống. Nước sạch là yếu tố quyết định cho sự phát triển bền vững của xã hội, ảnh hưởng đến giáo dục, kinh tế và môi trường sống
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <div class="work_one_single">
                    <div class="work_one_icon_box" style="border: 10px solid #dc3545">
                        <a class="icon_price"><img src="~/img/icon/validation.png" alt="validation" /></a>
                        <div class="work_one_count_box" style=" background: #dc3545">
                            <h5>02</h5>
                        </div>
                    </div>
                    <div class="work_one_content">
                        <h4 class="my-2 text-danger font-weight-bold">
                            SẢN PHẨM SỨC KHỎE
                        </h4>
                        <p style="line-height:normal;text-align: justify;">

                            Lan tỏa sản phẩm về sức khỏe đến xã hội là cung cấp giải pháp và sản phẩm chăm sóc sức khỏe chất lượng, nâng cao nhận thức về sức khỏe và tạo cộng đồng khỏe mạnh, mang lại lợi ích to lớn.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <div class="work_one_single">
                    <div class="work_one_icon_box" style="border: 10px solid #ffc107;">
                        <a class="icon_delivery"><img src="~/img/icon/assurance.png" alt="assurance" /></a>
                        <div class="work_one_count_box" style=" background: #ffc107">
                            <h5>03</h5>
                        </div>
                    </div>
                    <div class="work_one_content">
                        <h4 class="my-2 text-warning font-weight-bold">XÂY DỰNG CỘNG ĐỒNG</h4>
                        <p style="line-height:normal;text-align: justify;">

                            GEMS Group ra đời với sứ mệnh lan tỏa giá trị cân bằng và hỗ trợ cộng đồng, tạo môi trường phát triển bền vững và văn hóa cộng đồng đích thực. Từ đó, GEMS Group trở thành nơi đem lại ý nghĩa và sức mạnh cho mỗi thành viên, không chỉ xây dựng một tổ chức mà còn là điểm tựa đáng tin cậy cho cộng đồng.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-6 col-lg-3 col-md-6">
                <div class="work_one_single last_box">
                    <div class="work_one_icon_box" style="border: 10px solid #198754">
                        <a class="icon_support"><img src="~/img/icon/global-network.png" alt="network" /></a>
                        <div class="work_one_count_box" style=" background:  #198754">
                            <h5>04</h5>
                        </div>
                    </div>
                    <div class="work_one_content">
                        <h4 class="my-2 text-success font-weight-bold">KẾT NỐI VƯƠN XA</h4>
                        <p style="line-height:normal;text-align: justify;">Hãy trở thành khách hàng hoặc thành viên GEMS GROUP để nhận nhiều ưu đãi hấp dẫn. Sản phẩm chất lượng với giá ưu đãi, khuyến mãi độc quyền và dịch vụ chăm sóc khách hàng chuyên nghiệp đang chờ đón bạn</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>