/*using with html code: <div class="loader"></div>*/
.loader {
    display: inline-block;
    border: 3px solid #000;
    border-radius: 50%;
    border-top: 3px solid #fff;
    width: 15px;
    height: 15px;
    -webkit-animation: spin 1s linear infinite; /* Safari */
    animation: spin 1s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}