
.select2-container {
    width: 100% !important;
}

.modal .select2-container {
    z-index: 1060;
}

.select2-results__option {
    color: #000;
    width: 100%;
}

.select2-results__group {
    font-weight: 700;
}

.select2-container--default .select2-selection--single {
    color: var(--primaryColor) !important;
    background-color: transparent !important;
}

    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: var(--primaryColor) !important;
        line-height:38px;
    }

.select2-noborder .select2-selection {
    border: none !important;
}

.select-max-200 .select2-container {
    max-width: 200px;
}

.select2-container .select2-selection--single{
    height:38px;
}

.section_member_wrapper {
    background: #e0f0ff;
}

    .section_member_wrapper .container {
        box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
        background: white;
        border-radius: 10px;
        padding: 20px 10px;
    }

    .section_member_wrapper .service-block svg path {
        fill: var(--primaryColor);
    }

.map_wrapper {
    border: 2px solid var(--primaryColor);
    padding: 15px;
    border-radius: 10px;
    height: 500px;
}

.map_form_register_wrapper {
    border: 2px solid var(--primaryColor);
    padding: 15px;
    border-radius: 10px;
    height: 320px;
}

.div_btn_supplier_slevel1_wrapper {
    height: 500px;
    overflow-y: auto;
}

    .div_btn_supplier_slevel1_wrapper img {
        border-radius: 100%;
        border: 1px solid #dddddd;
        padding: 5px;
        height: 70px;
        width: 70px;
        background:white;
    }

.div_btn_supplier_slevel2_wrapper img {
    border-radius: 100%;
    border: 1px solid #dddddd;
    padding: 5px;
    height: 80px;
    width: 80px;
}

.div_btn_supplier_slevel2_wrapper ul {
    display: flex;
    flex-wrap:wrap;
}
    .div_btn_supplier_slevel2_wrapper ul li {
        box-shadow: rgba(0, 0, 0, 0.1) 2.4px 2.4px 1px;
        padding: 10px;
    }


.li_supplier {
    padding: 5px 10px;
    line-height: 24px;
    border: 1px solid var(--primaryColor);
    cursor: pointer;
    margin-bottom: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    position:relative;
}


.li_supplier:before {
    display: none !important;
}

    .li_supplier:has(> .btn_supplier.active) .btn_link_member {
        background: green;
    }
    .li_supplier:has(> .btn_supplier.active) {
        background: var(--primaryColor);
    }


.btn_supplier.active p, .btn_supplier.active a {
    color: white !important;
}


    .btn_supplier.active button {
        background: yellow !important;
    }

.btn_link_member {
    background: green;
    color: white;
    border-radius: 14px;
    text-align: center;
    align-items: center;
    display: flex;
    padding: 2px;
    justify-content: center;
}