


<div id='preloader' style="position: fixed; z-index: 10000; background: white; width: 100%; height: 100%">
    <div class='ctn-preloader' id='ctn-preloader'>
        <div class='animation-preloader'>
            <div class='spinner'></div>
            <div class='txt-loading'>
                <span style="color:#002676" lass='letters-loading' data-text-preloader='G'> G </span>
                <span style="color:#002676" class='letters-loading' data-text-preloader='E'> E </span>
                <span style="color:#002676" class='letters-loading' data-text-preloader='M'> M </span>
                <span style="color:#002676" class='letters-loading' data-text-preloader='S'> S </span>
                <span style="color:#e3c88e" class='letters-loading' data-text-preloader='G'> G </span>
                <span style="color:#e3c88e" class='letters-loading' data-text-preloader='R'> R </span>
                <span style="color:#e3c88e" class='letters-loading' data-text-preloader='O'> O </span>
                <span style="color:#e3c88e" class='letters-loading' data-text-preloader='U'> U </span>
                <span style="color:#e3c88e" class='letters-loading' data-text-preloader='P'> P </span>
            </div>

        </div>

        <div class='loader-preloader'>
            <div class='row-item-col'>
                <div class='item-col loader-section section-left'>
                    <div class='bg'></div>
                </div>
                <div class='item-col loader-section section-left'>
                    <div class='bg'></div>
                </div>
                <div class='item-col loader-section section-right'>
                    <div class='bg'></div>
                </div>
                <div class='item-col loader-section section-right'>
                    <div class='bg'></div>
                </div>
            </div>
        </div>
    </div>
</div>